# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
import db_connection_config as config

In [2]:
#conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
conn = psycopg2.connect(config.Config().connection_string(dbname="sparkifydb"))
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
print(song_files)
#print(len(song_files))

['c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAABD128F429CF47.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAADZ128F9348C2E.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAEF128F4273421.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAFD128F92F423A.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAMO128F1481E7F.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAMQ128F1460CD3.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAPK128E0786D96.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAARJ128F9320760.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAVG12903CFA543.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAVO128F93133D4.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABCL128F4286650.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABDL12903CAABBA.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABJL12903CDCF1A.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABJV128F1460C49.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABLR128F423B7E3.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABNV128F425CEE1.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABRB128F9306DD5.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABVM128F92CA9DC.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABXG128F9318EBD.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABYN12903CFD305.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\B\\TRAABYW128F4244559.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACCG128F92E8A55.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACER128F4290F96.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACFV128F935E50B.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACHN128F1489601.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACIW12903CC0F6D.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACLV128F427E123.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACNS128F14A2DF5.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACOW128F933E35F.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACPE128F421C1B9.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACQT128F9331780.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACSL128F93462F4.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACTB12903CAAF15.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACVS128E078BE39.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\C\\TRAACZK128F4243829.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABACN128F425B784.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAFJ128F42AF24E.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAFP128F931E9A1.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAIO128F42938F9.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABATO128F42627E9.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAVQ12903CBF7E0.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAWW128F4250A31.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAXL128F424FC50.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAXR128F426515F.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAXV128F92F6AE3.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\A\\TRABAZH128F930419A.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBAM128F429D223.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBBV128F42967D7.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBJE12903CDB442.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBKX128F4285205.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBLU128F93349CF.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBNP128F932546F.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBOP128F931B50D.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBOR128F4286200.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBTA128F933D304.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBVJ128F92F7EAA.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBXU128F92FEF48.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\B\\TRABBZN12903CD9297.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCAJ12903CDFCC2.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCEC128F426456E.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCEI128F424C983.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCFL128F149BB0D.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCIX128F4265903.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCKL128F423A778.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCPZ128F4275C32.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCRU128F423F449.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCTK128F934B224.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCUQ128E0783E2B.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCXB128F4286BD3.json', 'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\B\\C\\TRABCYE128F934CE1D.json']

In [6]:
filepath = song_files[0]
filepath

'c:\\Users\\josep\\OneDrive\\Documentos\\projects\\UdacityDeng\\UDENG_L02P01\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json'

In [7]:
df_array = []
list(map(lambda filepath: df_array.append(pd.read_json(filepath, lines=True)), song_files))
df = pd.concat(df_array)
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
0,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
0,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
0,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:

song_data_dict = df[["song_id", "title", "artist_id", "year", "duration"]].to_dict('records')
song_data_dict

[{'song_id': 'SOMZWCG12A8C13C480',
  'title': "I Didn't Mean To",
  'artist_id': 'ARD7TVE1187B99BFB1',
  'year': 0,
  'duration': 218.93179},
 {'song_id': 'SOCIWDW12A8C13D406',
  'title': 'Soul Deep',
  'artist_id': 'ARMJAGH1187FB546F3',
  'year': 1969,
  'duration': 148.03546},
 {'song_id': 'SOXVLOJ12AB0189215',
  'title': 'Amor De Cabaret',
  'artist_id': 'ARKRRTF1187B9984DA',
  'year': 0,
  'duration': 177.47546},
 {'song_id': 'SONHOTT12A8C13493C',
  'title': 'Something Girls',
  'artist_id': 'AR7G5I41187FB4CE6C',
  'year': 1982,
  'duration': 233.40363},
 {'song_id': 'SOFSOCN12A8C143F5D',
  'title': 'Face the Ashes',
  'artist_id': 'ARXR32B1187FB57099',
  'year': 2007,
  'duration': 209.60608},
 {'song_id': 'SOYMRWW12A6D4FAB14',
  'title': 'The Moon And I (Ordinary Day Album Version)',
  'artist_id': 'ARKFYS91187B98E58F',
  'year': 0,
  'duration': 267.7024},
 {'song_id': 'SOMJBYD12A6D4F8557',
  'title': 'Keepin It Real (Skit)',
  'artist_id': 'ARD0S291187B9B7BF5',
  'year': 0,
  'duration': 114.78159},
 {'song_id': 'SOHKNRJ12A6701D1F8',
  'title': 'Drop of Rain',
  'artist_id': 'AR10USD1187B99F3F1',
  'year': 0,
  'duration': 189.57016},
 {'song_id': 'SOIAZJW12AB01853F1',
  'title': 'Pink World',
  'artist_id': 'AR8ZCNI1187B9A069B',
  'year': 1984,
  'duration': 269.81832},
 {'song_id': 'SOUDSGM12AC9618304',
  'title': 'Insatiable (Instrumental Version)',
  'artist_id': 'ARNTLGG11E2835DDB9',
  'year': 0,
  'duration': 266.39628},
 {'song_id': 'SOQHXMF12AB0182363',
  'title': 'Young Boy Blues',
  'artist_id': 'ARGSJW91187B9B1D6B',
  'year': 0,
  'duration': 218.77506},
 {'song_id': 'SOKEJEJ12A8C13E0D0',
  'title': 'The Urgency (LP Version)',
  'artist_id': 'ARC43071187B990240',
  'year': 0,
  'duration': 245.21098},
 {'song_id': 'SOMUYGI12AB0188633',
  'title': 'La Culpa',
  'artist_id': 'ARL7K851187B99ACD2',
  'year': 0,
  'duration': 226.35057},
 {'song_id': 'SORAMLE12AB017C8B0',
  'title': 'Auguri Cha Cha',
  'artist_id': 'ARHHO3O1187B989413',
  'year': 0,
  'duration': 191.84281},
 {'song_id': 'SOBONFF12A6D4F84D8',
  'title': 'Tonight Will Be Alright',
  'artist_id': 'ARIK43K1187B9AE54C',
  'year': 1986,
  'duration': 307.3824},
 {'song_id': 'SOHUOAP12A8AE488E9',
  'title': 'Floating',
  'artist_id': 'ARD842G1187B997376',
  'year': 1987,
  'duration': 491.12771},
 {'song_id': 'SOUQQEA12A8C134B1B',
  'title': 'High Tide',
  'artist_id': 'ARIG6O41187B988BDD',
  'year': 0,
  'duration': 228.5971},
 {'song_id': 'SOILPQQ12AB017E82A',
  'title': 'Sohna Nee Sohna Data',
  'artist_id': 'AR1ZHYZ1187FB3C717',
  'year': 0,
  'duration': 599.24853},
 {'song_id': 'SOXLBJT12A8C140925',
  'title': 'Caught In A Dream',
  'artist_id': 'ARYKCQI1187FB3B18F',
  'year': 2004,
  'duration': 290.29832},
 {'song_id': 'SOZVMJI12AB01808AF',
  'title': 'Synthetic Dream',
  'artist_id': 'ARNPAGP1241B9C7FD4',
  'year': 0,
  'duration': 165.69424},
 {'song_id': 'SOWTBJW12AC468AC6E',
  'title': 'Broken-Down Merry-Go-Round',
  'artist_id': 'ARQGYP71187FB44566',
  'year': 0,
  'duration': 151.84934},
 {'song_id': 'SOBEBDG12A58A76D60',
  'title': 'Kassie Jones',
  'artist_id': 'ARI3BMM1187FB4255E',
  'year': 0,
  'duration': 220.78649},
 {'song_id': 'SOZCTXZ12AB0182364',
  'title': 'Setanta matins',
  'artist_id': 'AR5KOSW1187FB35FF4',
  'year': 0,
  'duration': 269.58322},
 {'song_id': 'SOBBUGU12A8C13E95D',
  'title': 'Setting Fire to Sleeping Giants',
  'artist_id': 'ARMAC4T1187FB3FA4C',
  'year': 2004,
  'duration': 207.77751},
 {'song_id': 'SOBLGCN12AB0183212',
  'title': 'James (Hold The Ladder Steady)',
  'artist_id': 'AR47JEX1187B995D81',
  'year': 1985,
  'duration': 124.86485},
 {'song_id': 'SOPSWQW12A6D4F8781',
  'title': 'Made Like This (Live)',
  'artist_id': 'ARGIWFO1187B9B55B7',
  'year': 0,
  'duration': 225.09669},
 {'song_id': 'SOZQDIU12A58A7BCF6',
  'title': 'Superconfidential',
  'artist_id': 'ARNTLGG11E2835DDB9',
  'year': 0,
  'duration': 338.31138},
 {'song_id': 'SONYPOM12A8C13B2D7',
  'title': 'I Think My Wife Is Running Around On Me (Taco Hell)',
  'artist_id': 'ARDNS031187B9924F0',
  'year': 2005,
  'duration': 186.48771},
 {'song_id': 'SOBZBAZ12A6D4F8742',
  'title': 'Spanish Grease',
  'artist_id': 'AROUOZZ1187B9ABE51',
  'year': 1997,
  'duration': 168.25424},
 {'song_id': 'SOVYKGO12AB0187199',
  'title': 'Crazy Mixed Up World',
  'artist_id': 'ARH4Z031187B9A71F2',
  'year': 1961,
  'duration': 156.39465},
 {'song_id': 'SOGNCJP12A58A80271',
  'title': 'Do You Finally Need A Friend',
  'artist_id': 'ARB29H41187B98F0EF',
  'year': 1972,
  'duration': 342.56934},
 {'song_id': 'SOLLHMX12AB01846DC',
  'title': 'The Emperor Falls',
  'artist_id': 'AR1Y2PT1187FB5B9CE',
  'year': 0,
  'duration': 484.62322},
 {'song_id': 'SOYTPEP12AB0180E7B',
  'title': 'Twist and Shout',
  'artist_id': 'ARAJPHH1187FB5566A',
  'year': 1964,
  'duration': 164.80608},
 {'song_id': 'SOGXHEG12AB018653E',
  'title': 'It Makes No Difference Now',
  'artist_id': 'AR0RCMP1187FB3F427',
  'year': 1992,
  'duration': 133.32853},
 {'song_id': 'SOOLYAZ12A6701F4A6',
  'title': 'Laws Patrolling (Album Version)',
  'artist_id': 'AREBBGV1187FB523D2',
  'year': 0,
  'duration': 173.66159},
 {'song_id': 'SOGOSOV12AF72A285E',
  'title': '¿Dónde va Chichi?',
  'artist_id': 'ARGUVEV1187B98BA17',
  'year': 1997,
  'duration': 313.12934},
 {'song_id': 'SOQLGFP12A58A7800E',
  'title': 'OAKtown',
  'artist_id': 'ARD7TVE1187B99BFB1',
  'year': 0,
  'duration': 259.44771},
 {'song_id': 'SOPVXLX12A8C1402D5',
  'title': 'Larger Than Life',
  'artist_id': 'AR3JMC51187B9AE49D',
  'year': 1999,
  'duration': 236.25098},
 {'song_id': 'SOAOIBZ12AB01815BE',
  'title': 'I Hold Your Hand In Mine [Live At Royal Albert Hall]',
  'artist_id': 'ARPBNLO1187FB3D52F',
  'year': 2000,
  'duration': 43.36281},
 {'song_id': 'SOZHPGD12A8C1394FE',
  'title': 'Baby Come To Me',
  'artist_id': 'AR9AWNF1187B9AB0B4',
  'year': 0,
  'duration': 236.93016},
 {'song_id': 'SOSLAVG12A8C13397F',
  'title': 'Den Pai Alo',
  'artist_id': 'AROGWRA122988FEE45',
  'year': 0,
  'duration': 243.82649},
 {'song_id': 'SOTTDKS12AB018D69B',
  'title': 'It Wont Be Christmas',
  'artist_id': 'ARMBR4Y1187B9990EB',
  'year': 0,
  'duration': 241.47546},
 {'song_id': 'SOMVWWT12A58A7AE05',
  'title': 'Knocked Out Of The Park',
  'artist_id': 'ARQ9BO41187FB5CF1F',
  'year': 0,
  'duration': 183.17016},
 {'song_id': 'SOQVMXR12A81C21483',
  'title': 'Salt In NYC',
  'artist_id': 'ARKULSX1187FB45F84',
  'year': 0,
  'duration': 424.12363},
 {'song_id': 'SODUJBS12A8C132150',
  'title': 'Wessex Loses a Bride',
  'artist_id': 'ARI2JSK1187FB496EF',
  'year': 0,
  'duration': 111.62077},
 {'song_id': 'SOBBXLX12A58A79DDA',
  'title': 'Erica (2005 Digital Remaster)',
  'artist_id': 'AREDBBQ1187B98AFF5',
  'year': 0,
  'duration': 138.63138},
 {'song_id': 'SOTUKVB12AB0181477',
  'title': 'Blessed Assurance',
  'artist_id': 'AR7ZKHQ1187B98DD73',
  'year': 1993,
  'duration': 270.602},
 {'song_id': 'SOOJPRH12A8C141995',
  'title': 'Loaded Like A Gun',
  'artist_id': 'ARBGXIG122988F409D',
  'year': 0,
  'duration': 173.19138},
 {'song_id': 'SOBCOSW12A8C13D398',
  'title': 'Rumba De Barcelona',
  'artist_id': 'AR7SMBG1187B9B9066',
  'year': 0,
  'duration': 218.38322},
 {'song_id': 'SOQOTLQ12AB01868D0',
  'title': 'Clementina Santafè',
  'artist_id': 'ARGCY1Y1187B9A4FA5',
  'year': 0,
  'duration': 153.33832},
 {'song_id': 'SOBKWDJ12A8C13B2F3',
  'title': 'Wild Rose (Back 2 Basics Mix)',
  'artist_id': 'AR36F9J1187FB406F1',
  'year': 0,
  'duration': 230.71302},
 {'song_id': 'SOFNOQK12AB01840FC',
  'title': 'Kutt Free (DJ Volume Remix)',
  'artist_id': 'ARNNKDK1187B98BBD5',
  'year': 0,
  'duration': 407.37914},
 {'song_id': 'SOGVQGJ12AB017F169',
  'title': 'Ten Tonne',
  'artist_id': 'AR62SOJ1187FB47BB5',
  'year': 2005,
  'duration': 337.68444},
 {'song_id': 'SOFFKZS12AB017F194',
  'title': 'A Higher Place (Album Version)',
  'artist_id': 'ARBEBBY1187B9B43DB',
  'year': 1994,
  'duration': 236.17261},
 {'song_id': 'SOBAYLL12A8C138AF9',
  'title': 'Sono andati? Fingevo di dormire',
  'artist_id': 'ARDR4AC1187FB371A1',
  'year': 0,
  'duration': 511.16363},
 {'song_id': 'SOLEYHO12AB0188A85',
  'title': 'Got My Mojo Workin',
  'artist_id': 'ARAGB2O1187FB3A161',
  'year': 0,
  'duration': 338.23302},
 {'song_id': 'SOPEGZN12AB0181B3D',
  'title': 'Get Your Head Stuck On Your Neck',
  'artist_id': 'AREDL271187FB40F44',
  'year': 0,
  'duration': 45.66159},
 {'song_id': 'SOXILUQ12A58A7C72A',
  'title': 'Jenny Take a Ride',
  'artist_id': 'ARP6N5A1187B99D1A3',
  'year': 2004,
  'duration': 207.43791},
 {'song_id': 'SOTCKKY12AB018A141',
  'title': 'Sonnerie lalaleulé hi houuu',
  'artist_id': 'ARGSAFR1269FB35070',
  'year': 0,
  'duration': 29.54404},
 {'song_id': 'SOSWKAV12AB018FC91',
  'title': 'Midnight Star',
  'artist_id': 'ARULZCI1241B9C8611',
  'year': 0,
  'duration': 335.51628},
 {'song_id': 'SONSKXP12A8C13A2C9',
  'title': 'Native Soul',
  'artist_id': 'AR0IAWL1187B9A96D0',
  'year': 2003,
  'duration': 197.19791},
 {'song_id': 'SOUPIRU12A6D4FA1E1',
  'title': 'Der Kleine Dompfaff',
  'artist_id': 'ARJIE2Y1187B994AB7',
  'year': 0,
  'duration': 152.92036},
 {'song_id': 'SODREIN12A58A7F2E5',
  'title': 'A Whiter Shade Of Pale (Live @ Fillmore West)',
  'artist_id': 'ARLTWXK1187FB5A3F8',
  'year': 0,
  'duration': 326.00771},
 {'song_id': 'SONWXQJ12A8C134D94',
  'title': 'The Ballad Of Sleeping Beauty',
  'artist_id': 'ARNF6401187FB57032',
  'year': 1994,
  'duration': 305.162},
 {'song_id': 'SOWQTQZ12A58A7B63E',
  'title': 'Streets On Fire (Explicit Album Version)',
  'artist_id': 'ARPFHN61187FB575F6',
  'year': 0,
  'duration': 279.97995},
 {'song_id': 'SOLYIBD12A8C135045',
  'title': 'Music is what we love',
  'artist_id': 'AR051KA1187B98B2FF',
  'year': 0,
  'duration': 261.51138},
 {'song_id': 'SOINLJW12A8C13314C',
  'title': 'City Slickers',
  'artist_id': 'AR8IEZO1187B99055E',
  'year': 2008,
  'duration': 149.86404},
 {'song_id': 'SOGDBUF12A8C140FAA',
  'title': 'Intro',
  'artist_id': 'AR558FS1187FB45658',
  'year': 2003,
  'duration': 75.67628},
 {'song_id': 'SORRZGD12A6310DBC3',
  'title': 'Harajuku Girls',
  'artist_id': 'ARVBRGZ1187FB4675A',
  'year': 2004,
  'duration': 290.55955},
 {'song_id': 'SODAUVL12A8C13D184',
  'title': 'Prognosis',
  'artist_id': 'ARWB3G61187FB49404',
  'year': 2000,
  'duration': 363.85914},
 {'song_id': 'SOFCHDR12AB01866EF',
  'title': 'Living Hell',
  'artist_id': 'AREVWGE1187B9B890A',
  'year': 0,
  'duration': 282.43546}]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [9]:
#cur.execute(song_table_insert, song_data)
list(map(lambda song_data: cur.execute(song_table_insert, song_data), song_data_dict))
conn.commit()

In [10]:
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [11]:
artist_column_rename = {"artist_name": "name", "artist_location": "location", "artist_latitude": "latitude", "artist_longitude":"longitude"}
artist_data = df[["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]].rename(columns = artist_column_rename).to_dict('records')[0]
artist_data

{'artist_id': 'ARD7TVE1187B99BFB1',
 'name': 'Casual',
 'location': 'California - LA',
 'latitude': nan,
 'longitude': nan}

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [12]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [13]:
log_files = get_files('data/log_data')

In [14]:
filepath = log_files[0]

In [15]:
df_array = []
list(map(lambda filepath: df_array.append(pd.read_json(filepath, lines=True)), log_files))
df = pd.concat(df_array)

df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [16]:
df.describe()

,itemInSession,length,registration,sessionId,status,ts
count,8057.000000,6821.000000,7.771000e+03,8057.000000,8057.000000,8.057000e+03
mean,21.196351,247.028101,1.540778e+12,598.153903,202.897232,1.542486e+12
std,23.440324,102.968933,2.651496e+08,285.298026,17.993168,7.002979e+08
min,0.000000,15.855870,1.539909e+12,3.000000,200.000000,1.541106e+12
25%,3.000000,197.328530,1.540558e+12,372.000000,200.000000,1.542023e+12
50%,13.000000,232.907300,1.540829e+12,605.000000,200.000000,1.542467e+12
75%,33.000000,274.102400,1.541020e+12,834.000000,200.000000,1.543064e+12
max,127.000000,2594.873020,1.541098e+12,1114.000000,404.000000,1.543608e+12

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [17]:
df = df[df.page == "NextSong"]
#df = df[(df.page == "NextSong") & (df.firstName == "Kimber")]
df['start_time'] = pd.to_datetime(df['ts'], unit='ms')
df['hour'] = df['start_time'].dt.hour
df['day'] = df['start_time'].dt.day
df['week'] = df['start_time'].dt.isocalendar().week
df['month'] = df['start_time'].dt.month
df['year'] = df['start_time'].dt.year
df['weekday'] = df['start_time'].dt.dayofweek > 4 
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,...,ts,userAgent,userId,start_time,hour,day,week,month,year,weekday
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:01:46.796,21,1,44,11,2018,False
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:05:52.796,21,1,44,11,2018,False
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:08:16.796,21,1,44,11,2018,False
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:11:13.796,21,1,44,11,2018,False
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:17:33.796,21,1,44,11,2018,False

In [18]:
t = df[["start_time", "hour", "day", "week", "month","year", "weekday"]]
count = len(t)

In [19]:
count_distinct = len(t.drop_duplicates())
count_distinct

6813

In [20]:
time_df = t.drop_duplicates().sort_values(by="start_time", ascending=True)
time_df.head()

               start_time  hour  day  week  month  year  weekday
2 2018-11-01 21:01:46.796    21    1    44     11  2018    False
4 2018-11-01 21:05:52.796    21    1    44     11  2018    False
5 2018-11-01 21:08:16.796    21    1    44     11  2018    False
6 2018-11-01 21:11:13.796    21    1    44     11  2018    False
7 2018-11-01 21:17:33.796    21    1    44     11  2018    False

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [21]:
for row in time_df.to_dict('records'):    
    cur.execute(time_table_insert, row)
conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [22]:
user_column_rename = {"userId": "user_id", "firstName": "first_name", "lastName": "last_name"}
user_df = df[["userId", "firstName","lastName", "gender", "level"]].rename(columns = user_column_rename)

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [23]:
for row in user_df.to_dict('records'):    
    cur.execute(user_table_insert, row)
conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [24]:
df[["artist","song","length"]].head()

              artist                          song     length
2            Des'ree                  You Gotta Be  246.30812
4            Mr Oizo                       Flat 55  144.03873
5         Tamba Trio  Quem Quiser Encontrar O Amor  177.18812
6     The Mars Volta                     Eriatarka  380.42077
7  Infected Mushroom               Becoming Insane  440.26730

In [25]:
#select which columns to use
songplay_selected_columns = ["length", "start_time", "userId", "level", "song", "artist", "sessionId", "location", "userAgent"]
#rename columns so it matches the sql params
songplay_column_rename = {"userId":"user_id", "song": "song_title", "artist": "artist_name",  "sessionId": "session_id", "userAgent":"user_agent", "length":"stream_duration"}

#SOMEWHERE I NEED TO APPEND THE SONG AND ARTIST ID TO
#  THE DICTIONARY
#  THE DATAFRAME
songplay_df = df[songplay_selected_columns].rename(columns = songplay_column_rename)
songplay_df["artist_id"] = None
songplay_df["song_id"] = None
songplay_df.head()

,stream_duration,start_time,user_id,level,song_title,artist_name,session_id,location,user_agent,artist_id,song_id
2,246.30812,2018-11-01 21:01:46.796,8,free,You Gotta Be,Des'ree,139,"Phoenix-Mesa-Scottsdale, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",None,None
4,144.03873,2018-11-01 21:05:52.796,8,free,Flat 55,Mr Oizo,139,"Phoenix-Mesa-Scottsdale, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",None,None
5,177.18812,2018-11-01 21:08:16.796,8,free,Quem Quiser Encontrar O Amor,Tamba Trio,139,"Phoenix-Mesa-Scottsdale, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",None,None
6,380.42077,2018-11-01 21:11:13.796,8,free,Eriatarka,The Mars Volta,139,"Phoenix-Mesa-Scottsdale, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",None,None
7,440.26730,2018-11-01 21:17:33.796,8,free,Becoming Insane,Infected Mushroom,139,"Phoenix-Mesa-Scottsdale, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",None,None

In [26]:

for row in songplay_df.to_dict("records"):
    # get songid and artistid from song and artist tables    
    cur.execute(song_select, row)
    results = cur.fetchone()
    if results:                   
        songid, artistid = results
        row["song_id"]= results[0]
        row["artist_id"] = results[1]
        print(row)
    # insert songplay record    
    cur.execute(songplay_table_insert, row)
    conn.commit()

{'stream_duration': 218.93179, 'start_time': Timestamp('2018-11-23 23:08:48.796000'), 'user_id': '47', 'level': 'free', 'song_title': "I Didn't Mean To", 'artist_name': 'Casual', 'session_id': 488, 'location': 'New York-Newark-Jersey City, NY-NJ-PA', 'user_agent': '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 'artist_id': 'ARD7TVE1187B99BFB1', 'song_id': 'SOMZWCG12A8C13C480'}

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [27]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.